<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<!--    <bean id="dev" class="org.example.Dev" autowire="byName">-->
    <bean id="dev" class="org.example.Dev" autowire="byType">
<!--        setter injection-->
<!--        <property name="age" value="12"></property>-->
<!--        constructor injection-->
<!--        <constructor-arg value="15"/>-->
<!--        <property name="laptop" ref="lap1"/>-->
<!--        <constructor-arg name="com" ref="lap1"/>-->
<!--        <property name="comp" ref="lap1"/>-->
    </bean>
<!--    <bean id="lap1" class="org.example.Laptop">-->
    <bean id="comp" class="org.example.Laptop" primary="true">
    </bean>

    <bean id="desk1" class="org.example.Desktop">
    </bean>
</beans>